In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("sales_data.csv")

In [4]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,294049,Lightning Charging Cable,1,14.95,12/22/19 19:16,"939 Odomankuma St, Kumasi, AS 40001"
1,294050,Wired Headphones,1,11.99,12/30/19 18:15,"116 Kwaku Boateng St, Sunyani, BA 10001"
2,294051,USB-C Charging Cable,2,11.95,12/25/19 16:17,"924 1st St, Kumasi, AS 40001"
3,294052,Wired Headphones,1,11.99,12/24/19 13:15,"148 12th St, Wa, UE 48101"
4,294053,27in FHD Monitor,1,149.99,12/06/19 21:21,"172 Nii Armah St, Ho, VR 90001"

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185563 entries, 0 to 185562
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185078 non-null  object
 1   Product           185078 non-null  object
 2   Quantity Ordered  185078 non-null  object
 3   Price Each        185078 non-null  object
 4   Order Date        185078 non-null  object
 5   Purchase Address  185078 non-null  object
dtypes: object(6)
memory usage: 8.5+ MB

In [6]:
rows, columns = df.shape
print(f"rows:{rows}  columns:{columns}")

rows:185563  columns:6

In [7]:
df.describe()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
count,185078,185078,185078,185078,185078,185078
unique,177210,20,11,24,141845,140081
top,Order ID,USB-C Charging Cable,1,11.95,Order Date,Purchase Address
freq,346,21867,167426,21867,346,346

In [8]:
# number of nulls
df.isnull().sum()

Order ID            485
Product             485
Quantity Ordered    485
Price Each          485
Order Date          485
Purchase Address    485
dtype: int64

In [9]:
# drop null values
df.dropna(how = "all", inplace=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 185078 entries, 0 to 185562
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185078 non-null  object
 1   Product           185078 non-null  object
 2   Quantity Ordered  185078 non-null  object
 3   Price Each        185078 non-null  object
 4   Order Date        185078 non-null  object
 5   Purchase Address  185078 non-null  object
dtypes: object(6)
memory usage: 9.9+ MB

In [11]:
# the numeric column quantity ordered contains a value which is a string of alphabets 
# df["Quantity Ordered"] = pd.to_numeric(df["Quantity Ordered"])

In [12]:
df["Quantity Ordered"].unique()

array(['1', '2', '4', '3', 'Quantity Ordered', '5', '6', '7', '8', '10',
       '9'], dtype=object)

In [13]:
df = df[df["Quantity Ordered"] != "Quantity Ordered"]

In [14]:
df["Quantity Ordered"].unique()

array(['1', '2', '4', '3', '5', '6', '7', '8', '10', '9'], dtype=object)

In [15]:
df["Quantity Ordered"] = pd.to_numeric(df["Quantity Ordered"])

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 184732 entries, 0 to 185562
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          184732 non-null  object
 1   Product           184732 non-null  object
 2   Quantity Ordered  184732 non-null  int64
 3   Price Each        184732 non-null  object
 4   Order Date        184732 non-null  object
 5   Purchase Address  184732 non-null  object
dtypes: int64(1), object(5)
memory usage: 9.9+ MB

In [17]:
df.describe()

       Quantity Ordered
count     184732.000000
mean           1.124813
std            0.443598
min            1.000000
25%            1.000000
50%            1.000000
75%            1.000000
max           10.000000

In [18]:
df["Quantity Ordered"].mean()

1.1248132429681919

In [19]:
df["Quantity Ordered"].min()

1

In [20]:
df["Quantity Ordered"].max()

10

In [21]:
df["Quantity Ordered"].std()

0.44359778840488195

In [22]:
df["Quantity Ordered"].count()

184732

In [23]:
df["Price Each"] = pd.to_numeric(df["Price Each"])

In [24]:
df["Purchase Amount"] = df["Quantity Ordered"] * df["Price Each"]

In [34]:
df["Order Date"] = pd.to_datetime(df["Order Date"])

In [26]:
df["Year"] = df["Order Date"].dt.year

In [27]:
df["Month Name"] = df["Order Date"].dt.month_name()

In [28]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Purchase Amount,Year,Month Name
0,294049,Lightning Charging Cable,1,14.95,2019-12-22 19:16:00,"939 Odomankuma St, Kumasi, AS 40001",14.95,2019,December
1,294050,Wired Headphones,1,11.99,2019-12-30 18:15:00,"116 Kwaku Boateng St, Sunyani, BA 10001",11.99,2019,December
2,294051,USB-C Charging Cable,2,11.95,2019-12-25 16:17:00,"924 1st St, Kumasi, AS 40001",23.90,2019,December
3,294052,Wired Headphones,1,11.99,2019-12-24 13:15:00,"148 12th St, Wa, UE 48101",11.99,2019,December
4,294053,27in FHD Monitor,1,149.99,2019-12-06 21:21:00,"172 Nii Armah St, Ho, VR 90001",149.99,2019,December
...,...,...,...,...,...,...,...,...,...
185558,216589,Bose SoundSport Headphones,1,99.99,2019-06-20 21:25:00,"849 Yorm St, Ho, VR 90001",99.99,2019,June
185559,216590,Wired Headphones,1,11.99,2019-06-27 05:42:00,"741 Otu Blohum St, Sunyani, BA 10001",11.99,2019,June
185560,216591,Lightning Charging Cable,1,14.95,2019-06-10 18:22:00,"110 8th St, Cape Coast, CR 85001",14.95,2019,June
185561,216592,AA Batteries (4-pack),1,3.84,2019-06-30 12:11:00,"756 Balagu St, Ho, VR 90001",3.84,2019,June
185562,216593,Bose SoundSport Headphones,1,99.99,2019-06-28 19:23:00,"451 4th St, Ho, VR 90001",99.99,2019,June

In [29]:
df["Day"] = df["Order Date"].dt.day_name()

In [114]:
df["City2", "Region2"]= df["Purchase Address"].str.split(',', n=1, expand=True)
df["City2"]

ValueError: Cannot set a DataFrame with multiple columns to the single column ('City2', 'Region2')

In [30]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Purchase Amount,Year,Month Name,Day
0,294049,Lightning Charging Cable,1,14.95,2019-12-22 19:16:00,"939 Odomankuma St, Kumasi, AS 40001",14.95,2019,December,Sunday
1,294050,Wired Headphones,1,11.99,2019-12-30 18:15:00,"116 Kwaku Boateng St, Sunyani, BA 10001",11.99,2019,December,Monday
2,294051,USB-C Charging Cable,2,11.95,2019-12-25 16:17:00,"924 1st St, Kumasi, AS 40001",23.90,2019,December,Wednesday
3,294052,Wired Headphones,1,11.99,2019-12-24 13:15:00,"148 12th St, Wa, UE 48101",11.99,2019,December,Tuesday
4,294053,27in FHD Monitor,1,149.99,2019-12-06 21:21:00,"172 Nii Armah St, Ho, VR 90001",149.99,2019,December,Friday
...,...,...,...,...,...,...,...,...,...,...
185558,216589,Bose SoundSport Headphones,1,99.99,2019-06-20 21:25:00,"849 Yorm St, Ho, VR 90001",99.99,2019,June,Thursday
185559,216590,Wired Headphones,1,11.99,2019-06-27 05:42:00,"741 Otu Blohum St, Sunyani, BA 10001",11.99,2019,June,Thursday
185560,216591,Lightning Charging Cable,1,14.95,2019-06-10 18:22:00,"110 8th St, Cape Coast, CR 85001",14.95,2019,June,Monday
185561,216592,AA Batteries (4-pack),1,3.84,2019-06-30 12:11:00,"756 Balagu St, Ho, VR 90001",3.84,2019,June,Sunday
185562,216593,Bose SoundSport Headphones,1,99.99,2019-06-28 19:23:00,"451 4th St, Ho, VR 90001",99.99,2019,June,Friday

In [74]:
# building a custom function to check orders after 7pm
df["Order Hour"] =  df["Order Date"].dt.hour
order_time = df["Order Hour"]
# print(order_time)
def LateHourPurchase(order):
    count

0         19
1         18
2         16
3         13
4         21
          ..
185558    21
185559     5
185560    18
185561    12
185562    19
Name: Order Hour, Length: 184732, dtype: int32

In [98]:
def get_city(address):
    return address.split(",")[1].strip(" ")

def get_region(address):
    return address.split(",")[2].split(" ")

In [99]:
df["City"] = df["Purchase Address"].apply(lambda x: f"{get_city(x)}, ({get_region(x)}) ")

In [94]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Purchase Amount,Year,Month Name,Day,Order Date2,Order Hour,City
0,294049,Lightning Charging Cable,1,14.95,2019-12-22 19:16:00,"939 Odomankuma St, Kumasi, AS 40001",14.95,2019,December,Sunday,2019-12-22 19:16:00,19,"Kumasi, (AS)"
1,294050,Wired Headphones,1,11.99,2019-12-30 18:15:00,"116 Kwaku Boateng St, Sunyani, BA 10001",11.99,2019,December,Monday,2019-12-30 18:15:00,18,"Sunyani, (BA)"
2,294051,USB-C Charging Cable,2,11.95,2019-12-25 16:17:00,"924 1st St, Kumasi, AS 40001",23.90,2019,December,Wednesday,2019-12-25 16:17:00,16,"Kumasi, (AS)"
3,294052,Wired Headphones,1,11.99,2019-12-24 13:15:00,"148 12th St, Wa, UE 48101",11.99,2019,December,Tuesday,2019-12-24 13:15:00,13,"Wa, (UE)"
4,294053,27in FHD Monitor,1,149.99,2019-12-06 21:21:00,"172 Nii Armah St, Ho, VR 90001",149.99,2019,December,Friday,2019-12-06 21:21:00,21,"Ho, (VR)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
185558,216589,Bose SoundSport Headphones,1,99.99,2019-06-20 21:25:00,"849 Yorm St, Ho, VR 90001",99.99,2019,June,Thursday,2019-06-20 21:25:00,21,"Ho, (VR)"
185559,216590,Wired Headphones,1,11.99,2019-06-27 05:42:00,"741 Otu Blohum St, Sunyani, BA 10001",11.99,2019,June,Thursday,2019-06-27 05:42:00,5,"Sunyani, (BA)"
185560,216591,Lightning Charging Cable,1,14.95,2019-06-10 18:22:00,"110 8th St, Cape Coast, CR 85001",14.95,2019,June,Monday,2019-06-10 18:22:00,18,"Cape Coast, (CR)"
185561,216592,AA Batteries (4-pack),1,3.84,2019-06-30 12:11:00,"756 Balagu St, Ho, VR 90001",3.84,2019,June,Sunday,2019-06-30 12:11:00,12,"Ho, (VR)"
185562,216593,Bose SoundSport Headphones,1,99.99,2019-06-28 19:23:00,"451 4th St, Ho, VR 90001",99.99,2019,June,Friday,2019-06-28 19:23:00,19,"Ho, (VR)"

#FILTRATION

In [127]:
df[df["Product"] == "Lightning Charging Cable"][["Product", "Price Each", "Order Date", "City"]]

,Product,Price Each,Order Date,City
0,Lightning Charging Cable,14.95,2019-12-22 19:16:00,"Kumasi, (['', 'AS', '40001'])"
7,Lightning Charging Cable,14.95,2019-12-25 08:24:00,"Tamale, (['', 'NR', '50301'])"
22,Lightning Charging Cable,14.95,2019-12-04 18:27:00,"Koforidua, (['', 'ER', '73301'])"
25,Lightning Charging Cable,14.95,2019-12-12 01:20:00,"Accra, (['', 'GR', '32215'])"
38,Lightning Charging Cable,14.95,2019-12-10 15:23:00,"Cape Coast, (['', 'CR', '85001'])"
...,...,...,...,...
185546,Lightning Charging Cable,14.95,2019-06-19 15:27:00,"Tamale, (['', 'NR', '50301'])"
185548,Lightning Charging Cable,14.95,2019-06-25 08:23:00,"Sunyani, (['', 'BA', '10001'])"
185553,Lightning Charging Cable,14.95,2019-06-29 16:10:00,"Tamale, (['', 'NR', '50301'])"
185556,Lightning Charging Cable,14.95,2019-06-18 22:15:00,"Tamale, (['', 'NR', '50301'])"
185560,Lightning Charging Cable,14.95,2019-06-10 18:22:00,"Cape Coast, (['', 'CR', '85001'])"

In [130]:
df[df["Purchase Amount"]> 1000].head(25)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Purchase Amount,Year,Month Name,Day,Order Date2,Order Hour,City
99,294140,Macbook Pro Laptop,1,1700.0,2019-12-25 15:26:00,"593 Attah-Mills St, Ho, VR 90001",1700.0,2019,December,Wednesday,2019-12-25 15:26:00,15,"Ho, (['', 'VR', '90001'])"
100,294141,Macbook Pro Laptop,1,1700.0,2019-12-20 23:03:00,"161 5th St, Sunyani, BA 10001",1700.0,2019,December,Friday,2019-12-20 23:03:00,23,"Sunyani, (['', 'BA', '10001'])"
210,294249,Macbook Pro Laptop,1,1700.0,2019-12-13 14:47:00,"698 2nd St, Wa, UE 48101",1700.0,2019,December,Friday,2019-12-13 14:47:00,14,"Wa, (['', 'UE', '48101'])"
218,294257,Macbook Pro Laptop,1,1700.0,2019-12-10 15:27:00,"235 Kena St, Tamale, NR 50301",1700.0,2019,December,Tuesday,2019-12-10 15:27:00,15,"Tamale, (['', 'NR', '50301'])"
222,294260,Macbook Pro Laptop,1,1700.0,2019-12-27 13:48:00,"29 Bansim Sorli St, Tamale, NR 50301",1700.0,2019,December,Friday,2019-12-27 13:48:00,13,"Tamale, (['', 'NR', '50301'])"
254,294291,Macbook Pro Laptop,1,1700.0,2019-12-07 18:39:00,"941 Kwaku Boateng St, Sunyani, BA 10001",1700.0,2019,December,Saturday,2019-12-07 18:39:00,18,"Sunyani, (['', 'BA', '10001'])"
299,294335,Macbook Pro Laptop,1,1700.0,2019-12-09 10:25:00,"639 Main St, Tamale, NR 50301",1700.0,2019,December,Monday,2019-12-09 10:25:00,10,"Tamale, (['', 'NR', '50301'])"
362,294394,Macbook Pro Laptop,1,1700.0,2019-12-12 18:57:00,"196 Kena St, Ho, VR 90001",1700.0,2019,December,Thursday,2019-12-12 18:57:00,18,"Ho, (['', 'VR', '90001'])"
385,294417,Macbook Pro Laptop,1,1700.0,2019-12-24 19:27:00,"40 Owusu Kofi St, Kumasi, AS 40001",1700.0,2019,December,Tuesday,2019-12-24 19:27:00,19,"Kumasi, (['', 'AS', '40001'])"
398,294429,Macbook Pro Laptop,1,1700.0,2019-12-17 12:52:00,"415 Dzolali St, Tamale, NR 50301",1700.0,2019,December,Tuesday,2019-12-17 12:52:00,12,"Tamale, (['', 'NR', '50301'])"
417,294448,Macbook Pro Laptop,1,1700.0,2019-12-02 08:31:00,"768 Gyagbele St, Kumasi, AS 40001",1700.0,2019,December,Monday,2019-12-02 08:31:00,8,"Kumasi, (['', 'AS', '40001'])"
436,294465,Macbook Pro Laptop,1,1700.0,2019-12-21 21:11:00,"434 Gyagbele St, Kumasi, AS 40001",1700.0,2019,December,Saturday,2019-12-21 21:11:00,21,"Kumasi, (['', 'AS', '40001'])"
447,294475,Macbook Pro Laptop,1,1700.0,2019-12-11 08:25:00,"186 Otu Blohum St, Accra, GR 32215",1700.0,2019,December,Wednesday,2019-12-11 08:25:00,8,"Accra, (['', 'GR', '32215'])"
531,294555,Macbook Pro Laptop,1,1700.0,2019-12-01 13:17:00,"430 8th St, Takoradi, WR 24101",1700.0,2019,December,Sunday,2019-12-01 13:17:00,13,"Takoradi, (['', 'WR', '24101'])"
533,294557,Macbook Pro Laptop,1,1700.0,2019-12-24 06:41:00,"330 10th St, Sunyani, BA 10001",1700.0,2019,December,Tuesday,2019-12-24 06:41:00,6,"Sunyani, (['', 'BA', '10001'])"
556,294578,Macbook Pro Laptop,1,1700.0,2019-12-10 13:18:00,"778 Church St, Cape Coast, CR 85001",1700.0,2019,December,Tuesday,2019-12-10 13:18:00,13,"Cape Coast, (['', 'CR', '85001'])"
591,294612,Macbook Pro Laptop,1,1700.0,2019-12-12 16:49:00,"263 Bansim Sorli St, Sunyani, BA 10001",1700.0,2019,December,Thursday,2019-12-12 16:49:00,16,"Sunyani, (['', 'BA', '10001'])"
629,294649,Macbook Pro Laptop,1,1700.0,2019-12-04 13:33:00,"720 4th St, Wa, UE 48101",1700.0,2019,December,Wednesday,2019-12-04 13:33:00,13,"Wa, (['', 'UE', '48101'])"
644,294664,Macbook Pro Laptop,1,1700.0,2019-12-27 17:44:00,"735 Ridge St, Cape Coast, CR 85001",1700.0,2019,December,Friday,2019-12-27 17:44:00,17,"Cape Coast, (['', 'CR', '85001'])"
662,294682,Macbook Pro Laptop,1,1700.0,2019-12-15 19:43:00,"904 Nii Takie St, Ho, VR 90001",1700.0,2019,December,Sunday,2019-12-15 19:43:00,19,"Ho, (['', 'VR', '90001'])"
693,294711,Macbook Pro Laptop,1,1700.0,2019-12-17 21:05:00,"749 Main St, Koforidua, ER 73301",1700.0,2019,December,Tuesday,2019-12-17 21:05:00,21,"Koforidua, (['', 'ER', '73301'])"
698,294716,Macbook Pro Laptop,1,1700.0,2019-12-19 15:53:00,"337 10th St, Kumasi, AS 40001",1700.0,2019,December,Thursday,2019-12-19 15:53:00,15,"Kumasi, (['', 'AS', '40001'])"
716,294734,Macbook Pro Laptop,1,1700.0,2019-12-22 17:27:00,"468 2nd St, Kumasi, AS 40001",1700.0,2019,December,Sunday,2019-12-22 17:27:00,17,"Kumasi, (['', 'AS', '40001'])"
760,294776,Macbook Pro Laptop,1,1700.0,2019-12-24 19:36:00,"572 10th St, Ho, VR 90001",1700.0,2019,December,Tuesday,2019-12-24 19:36:00,19,"Ho, (['', 'VR', '90001'])"
804,294817,Macbook Pro Laptop,1,1700.0,2019-12-19 18:40:00,"98 Ridge St, Accra, GR 32215",1700.0,2019,December,Thursday,2019-12-19 18:40:00,18,"Accra, (['', 'GR', '32215'])"

In [131]:
df[df["Purchase Amount"]> 1000].sort_values(by = "Purchase Amount", ascending = False)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Purchase Amount,Year,Month Name,Day,Order Date2,Order Hour,City
3493,297370,Macbook Pro Laptop,2,1700.0,2019-12-24 19:33:00,"843 1st St, Cape Coast, CR 85001",3400.0,2019,December,Tuesday,2019-12-24 19:33:00,19,"Cape Coast, (['', 'CR', '85001'])"
22218,315237,Macbook Pro Laptop,2,1700.0,2019-12-25 21:45:00,"479 Obotan St, Sunyani, BA 10001",3400.0,2019,December,Wednesday,2019-12-25 21:45:00,21,"Sunyani, (['', 'BA', '10001'])"
96725,203816,Macbook Pro Laptop,2,1700.0,2019-05-12 18:55:00,"361 Badwenba St, Accra, GR 32215",3400.0,2019,May,Sunday,2019-05-12 18:55:00,18,"Accra, (['', 'GR', '32215'])"
34329,185369,Macbook Pro Laptop,2,1700.0,2019-04-25 19:41:00,"840 8th St, Tamale, NR 50301",3400.0,2019,April,Thursday,2019-04-25 19:41:00,19,"Tamale, (['', 'NR', '50301'])"
41748,152414,Macbook Pro Laptop,2,1700.0,2019-02-25 16:16:00,"836 10th St, Ho, VR 90001",3400.0,2019,February,Monday,2019-02-25 16:16:00,16,"Ho, (['', 'VR', '90001'])"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
60749,170602,Google Phone,2,600.0,2019-03-09 19:51:00,"915 Church St, Accra, GR 32215",1200.0,2019,March,Saturday,2019-03-09 19:51:00,19,"Accra, (['', 'GR', '32215'])"
50689,160963,Google Phone,2,600.0,2019-02-27 21:24:00,"265 Owusu Kofi St, Wa, UE 48101",1200.0,2019,February,Wednesday,2019-02-27 21:24:00,21,"Wa, (['', 'UE', '48101'])"
62886,172658,Google Phone,2,600.0,2019-03-20 18:35:00,"709 6th St, Sunyani, BA 10001",1200.0,2019,March,Wednesday,2019-03-20 18:35:00,18,"Sunyani, (['', 'BA', '10001'])"
22146,315167,Google Phone,2,600.0,2019-12-08 23:39:00,"863 Sika St, Sunyani, BA 10001",1200.0,2019,December,Sunday,2019-12-08 23:39:00,23,"Sunyani, (['', 'BA', '10001'])"
4517,298352,Google Phone,2,600.0,2019-12-23 13:49:00,"882 Sika St, Accra, GR 32215",1200.0,2019,December,Monday,2019-12-23 13:49:00,13,"Accra, (['', 'GR', '32215'])"